<p-toast position="center"></p-toast>
<div class="container-fluid mt-4">
    <div class="row pnl-content">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12 mb-5">
                    <ng-persian-datepicker>
                        <div class="input-container">
                            <input type="text" placeholder="تاریخ" formControlName="date" />
                            <i class="pi pi-calendar"></i>
                        </div>
                    </ng-persian-datepicker>
                </div>
                <div class="col-lg-3 mb-2" *ngFor="let item of timePlan">
                    <p-checkbox [binary]="true" name="groupname" [value]="item" [label]="item.time"
                        (onChange)="onSelectTime($event,item)">
                    </p-checkbox>
                </div>
            </div>
            <div class="row text-center mt-3">
                <p-button type="submit" label="ثبت"></p-button>
            </div>
        </form>
    </div>
</div>