<footer id="footer" class="footer">

  <div class="footer-content">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 col-md-12 footer-info">
          <img src="../../../../assets/images/logo.png" />
          <p>
            دکتر اکبر جافری با بیش از 14 سال سابقه وکالت، آمادگی ارائه کلیه خدمات حقوقی و مشاوره تخصصی در اموراتی از
            قبیل دعاوی مدنی، کیفری، خانواده و ثبتی به مراجعه کنندگان را دارد. وکیلی متخصص و مجرب دارای پرونده های موفق و
            مشابه قابل ارائه در اکثر موضوعات حقوقی، ارائه دهنده مشاوره حقوقی تخصصی تلفنی، حضوری و آنلاین
          </p>
          <div class="social-links d-flex mt-3">
            <a href="mailto:info@drjaferi.ir"><i class="bx bx-envelope"></i></a>
            <a href="https://www.instagram.com/apprad.ir/"><i class="bx bxl-instagram"></i></a>
            <a href="https://t.me/app_rad"><i class="bx bxl-telegram"></i></a>
            <a href="https://wa.me/989124666462"><i class="bx bxl-whatsapp"></i></a>
            <a href="tel:+989124666462"><i class="bx bx-phone"></i></a>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 text-md-end">
          <h4>راه های ارتباطی</h4>
          <p>آدرس : 
            تهران سید خندان اتوبان رسالت شرق به غرب <br>
            خیابان استاد حسن بنا جنوبی خیابان حاجی پور
            پلاک 61 <br>
            ساعت کار دفتر :
            شنبه تا چهارشنبه 18-21 با هماهنگی پنجشنبه صبح با هماهنگی <br>
            شماره همراه: 09124666462<br>
            تلفن : 02122327184

            <!-- مشاوره تلفنی و سوالات حقوقی فقط با پرداخت حق مشاوره پذیرفته میشود.
            لطفا قبل از حضور در دفتر تماس و هماهنگی لازم را بعمل آورید. -->
          </p>
        </div>
        <div class="col-lg-1 col-md-12 text-center text-md-end">
          <a referrerpolicy='origin' target='_blank'
            href='https://trustseal.enamad.ir/?id=414512&Code=ptFDa0FH9uQysl9JpaA2tiIPpRB5e5od'><img class="namad"
              referrerpolicy='origin'
              src='https://trustseal.enamad.ir/logo.aspx?id=414512&Code=ptFDa0FH9uQysl9JpaA2tiIPpRB5e5od' alt=''
              style='cursor:pointer' Code='ptFDa0FH9uQysl9JpaA2tiIPpRB5e5od'></a>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">
      <div class="copyright">
        © تمام حقوق مادی و معنوی این سایت متعلق به دکتر اکبر جافری می باشد. </div>
      <div class="credits">
        طراحی و پیاده سازی توسط <a href="https://apprad.ir/">apprad.ir</a>
      </div>
    </div>
  </div>
</footer>