<section id="hero" class=" container-fluid d-flex align-items-center">
  <div class="hero">
    <div class="row">
      <div class="col-lg-7 d-flex flex-column justify-content-center">
        <h1 class="animated fadeInRight">دکتر اکبر جافری وکیل پایه یک دادگستری</h1>
        <h1 class="animated fadeInRight">وکیل و مشاور حقوقی در زمینه دعاوی مدنی، کیفری، خانوادگی و ثبتی</h1>
        <p class="animated slideInLeft">
          دکتر اکبر جافری با بیش از 14 سال سابقه وکالت، آمادگی ارائه کلیه خدمات حقوقی و مشاوره تخصصی در اموراتی از قبیل
          دعاوی
          مدنی، کیفری، خانواده و ثبتی به مراجعه کنندگان را دارد. وکیلی متخصص و مجرب دارای پرونده های موفق و مشابه قابل
          ارائه در اکثر موضوعات حقوقی، ارائه دهنده مشاوره حقوقی تخصصی تلفنی، حضوری و آنلاین
        </p>
        <a routerLink="reserve"
          class="btn-get-started align-items-center justify-content-center align-self-center animated fadeInLeft">
          وقت مشاوره
        </a>
      </div>
      <div class="col-lg-5 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../../assets/images/hero.png" class="img-fluid animated fadeInRight" alt="">
      </div>
    </div>
  </div>

</section>