<p-toast position="center"></p-toast>
<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>

<p-breadcrumb [model]="[{icon:'pi pi-chevron-left',label: 'وقت مشاوره'}]"
    [home]="{ icon: 'pi pi-home', routerLink: '/user' }"></p-breadcrumb>

<div class="px-3 py-2 md:px-6 lg:px-3">
    <div class="card">
        <p-table #dt1 [value]="reserves" [rows]="10" [showCurrentPageReport]="true" [paginator]="true"
            responsiveLayout="stack" currentPageReportTemplate="{first} تا {last} از {totalRecords}" [filterDelay]="0"
            [globalFilterFields]="['code','visitDate']">
            <ng-template pTemplate="caption">
                <div class="row">
                    <!-- <div class="col-sm-6 text-right">
                        <button pButton pRipple label="جدید" icon="pi pi-plus"
                            class="p-button p-mr-2 p-button-icon-right" (click)="show()"></button>
                    </div> -->
                    <div class="col-lg-12 mt-4">
                        <span class="p-input-icon-left w-100">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="جستجو کلی" />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>کد</th>
                    <th>نام</th>
                    <th>علت مراجعه</th>
                    <th>نوع پرونده</th>
                    <th>نوع مشاوره</th>
                    <th>تاریخ مراجعه</th>
                    <th>ساعت مراجعه</th>
                    <th>وضعیت پرداخت</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.code}}</td>
                    <td>{{data.User[0].fullName}}</td>
                    <td>{{data.reason}}</td>
                    <td>{{data.docType}}</td>
                    <td>{{data.consultationType}}</td>
                    <td>{{data.visitDate}}</td>
                    <td>{{data.visitTime}}</td>
                    <td>{{data.payStatus}}</td>

                </tr>
            </ng-template>
        </p-table>


    </div>
</div>