.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 50px;
  top: 18px;
}

.header.header-scrolled {
  top: 0;
  background: var(--color1);
  border-bottom: 1px solid #37332a;
  color: #e8f0f0;
}

.book-a-table-btn {
  margin: 0 0 0 15px;
  border-radius: 50px;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
  background: var(--color2);
  color: #fff;
  font-family: myfont-bold !important;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: flex-start;
  font-family: myfont-bold !important;
}

.navbar li {
  position: relative;

}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  color: var(--color-font);
  transition: 0.3s;
  font-size: 14px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
  opacity: .8;
}

.account {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-left: 15px;
  opacity: .8;

}

.mobileheader {
  display: none;
  background: var(--color1);
  opacity: 100%;
  box-shadow: 1px 1px 5px 1px rgba(77, 40, 19, 0.5);
  padding: 10px 5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color1);
  opacity: 100%;
  box-shadow: 1px 1px 5px 1px rgba(170, 139, 119, 1);
  color: #e8f0f0;
}

.sticky .book-a-table-btn {
  color: #fff;
  background: var(--color2);
}

.sticky img {
  filter: brightness(0) invert(1);
  opacity: .7;
}
.header img {
  max-width: 60px;
}
.sticky .navbar a,
.navbar a:focus {
  color: #fff;
}

.mobileheader img {
  max-width: 60px;
  filter: brightness(0) invert(1);
  opacity: .7;
}



@media (max-width: 991px) {
  .mobileheader {
    display: block;
  }

  .header {
    display: none;
  }
}

:host::ng-deep .p-panelmenu .p-menuitem-text {
  font-family: myfont !important;
  font-size: 12px;
  color: #fff;

}

:host::ng-deep .p-panelmenu-header-content {
  border-radius: 20px;
}

:host::ng-deep .p-menuitem-icon {
  color: #fff;
  margin-left: 5px !important;
}

:host::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
  background-color: var(--color1) !important;
  border-radius: 20px;
  box-shadow: #b6a49b 1px 1px 3px;
  padding: 15px 10px;
}

:host::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action:hover {
  background-color: #b1917f !important;
}

:host::ng-deep .p-sidebar {
  background-color: #fff;
}