<section id="featured-services" class="featured-services mt-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-md-6 d-flex wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative">
                    <div class="icon">
                        <!-- <i class="fas fa-balance-scale"></i> -->
                        <img width="65" height="65" src="../../../../assets/images/law.png">
                    </div>
                    <h4>تنظیم لایحه </h4>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده
                        میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item position-relative">
                    <div class="icon">
                        <!-- <i class="bx bx-pencil icon"></i> -->
                        <img width="70" height="70" src="../../../../assets/images/law2.png">

                    </div>
                    <h4>تنظیم دادخواست </h4>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده
                        میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                </div>

            </div>
            <div class="col-xl-3 col-md-6 d-flex wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative">
                    <div class="icon">
                        <!-- <i class="far fa-handshake"></i> -->
                        <img width="65" height="65" src="../../../../assets/images/law3.png">

                    </div>
                    <h4>تنظیم شکواییه</h4>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده
                        میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item position-relative">
                    <div class="icon">
                        <!-- <i class="bx bx-receipt icon"></i> -->
                        <img width="65" height="65" src="../../../../assets/images/law4.png">
                    </div>
                    <h4>تنظیم اظهارنامه</h4>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده
                        میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
                </div>
            </div>

        </div>

    </div>
</section>






