.featured-services .service-item {
    margin-top: 5px;
    padding: 25px;
    transition: all ease-in-out 0.4s;
    height: 100%;
    border-radius: 15px;
    background: var(--color1);
    color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(#aa8b77, 0.8);
    cursor: pointer;
}

.featured-services .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 5px 3px rgba(#aa8b77, 0.8);
}

.featured-services .service-item .icon {
    margin-bottom: 5px;
}

.featured-services .service-item .icon i {
    color: #fff;
    font-size: 34px;
    transition: 0.3s;
}

.featured-services .service-item h4 {
    margin-bottom: 5px;
    font-size: 16px;
    font-family: myfont-bold !important;
}

.featured-services .service-item p {
    font-size: 14px;
    margin-bottom: 0;
    text-align: justify;
    font-family: myfont-light !important;
}